@model EnGee.Models.TMember
@{
	Layout = "_LayoutAdmin";
}
<style>
	.spanvaildation {
		font-size: 10px;
		color: red;
		opacity: 0.5;
	}

	::placeholder {
		font-size: 10px;
		color: tomato;
	}

	.displayinline {
		display: inline;
	}

	.box {
		width: 550px;
	}

	.custom-button {
		background: none;
		border: none;
		padding: 0;
		text-align: center;
		cursor: pointer;
		color: pink;
	}
</style>

<div class="container">
	<h1 style="text-align:center; ">修改會員表單</h1>


	<hr />
	<form asp-action="Edit" onsubmit="return onSubmitForm()">
		<main class="container-md displayinline box">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" name="MemberId" value="@Model.MemberId" />
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						@if (Model.Access == 3)
						{

							<span>機構名稱</span>
							<input asp-for="Fullname" class="form-control" />
							<span asp-validation-for="Fullname" class="spanvaildation"></span>

						}
						else if (Model.Access == 0)
						{
							<span>管理員(姓名/職位)</span>
							<input asp-for="Fullname" class="form-control" />
							<span asp-validation-for="Fullname" class="spanvaildation"></span>
						}
						else if (Model.Access == 1)
						{
							<span>會員姓名</span>
							<input asp-for="Fullname" class="form-control" />
							<span asp-validation-for="Fullname" class="spanvaildation"></span>
						}


					</div>
					<div class="form-group">

						@if (Model.Access == 3)
						{

							<span>公益法人帳號/或機構名稱</span>
							<input asp-for="Username" id="Username" class="form-control " placeholder="此欄位必塡(英文數字共5-10字元)" />

						}
						else if (Model.Access == 0)
						{
							<span>管理員帳號(英文數字5-10碼)</span>
							<input asp-for="Username" class="form-control " placeholder="此欄位必塡(英文數字共5-10字元)" />
							<span asp-validation-for="Username" class="spanvaildation"></span>
						}
						else if (Model.Access == 1)
						{
							<span>會員帳號(英文數字5-10碼)</span>
							<input asp-for="Username" class="form-control " placeholder="此欄位必塡(英文數字共5-10字元)" />
							<span asp-validation-for="Username" class="spanvaildation"></span>
						}

					</div>


					<div class="form-group">
						會員信箱
						<input asp-for="Email" class="form-control " placeholder="此欄位必塡" name="email" />   <!--新增模型綁定name，傳給控制器-->
						<span asp-validation-for="Email" class="spanvaildation"></span>

					</div>


					<div class="form-group mt-3">

						<input type="radio" asp-for="Gender" value="0"> Male
						<input type="radio" asp-for="Gender" value="1"> Female
						<input type="radio" asp-for="Gender" value="2"> 不透漏

						<span asp-validation-for="Gender" class="spanvaildation"></span>

					</div>



					<div class="form-group">
						通訊地址
						<input asp-for="Address" class="form-control " placeholder="此欄位必塡" />
						<span asp-validation-for="Address" class="spanvaildation"></span>
					</div>
					<div class="form-group">
						@if (Model.Access == 3)
						{
							<span>機構電話/負責人電話</span>
							<input asp-for="Phone" class="form-control" placeholder="此欄位必塡" id="phoneInput" oninput="phoneInputAccess3" />
							<span asp-validation-for="Phone" class="spanvaildation"></span>
						}
						else if (Model.Access == 0)
						{
							<span>管理員手機/電話</span>
							<input asp-for="Phone" class="form-control" placeholder="此欄位必塡" id="phoneInput" oninput="phoneInputAccess3" />
							<span asp-validation-for="Phone" class="spanvaildation"></span>
						}
						else if (Model.Access == 1)
						{
							<span>會員手機/電話</span>
							<input asp-for="Phone" class="form-control" placeholder="此欄位必塡" id="phoneInput" oninput="phoneInputAccess3" />
							<span asp-validation-for="Phone" class="spanvaildation"></span>
						}



					</div>

					<div class="form-group">
						出生日期
						<input asp-for="Birth" class="form-control" type="date" />
						<span asp-validation-for="Birth" class=" spanvaildation"></span>
					</div>
				</div>
				<div class="col-md-6">
					@if (Model.CharityProof != null && Model.IsValidCharity != true)
					{
						<div>
							公益團體認證照片
						</div>
						<div>
							<img src="~/images/CharityProof/@Model.CharityProof" width="300px" height="350px" />
							<div>
								<input type="checkbox" id="charityCheckbox" onchange="updateIsValidCharity(this)" />
								<label for="charityCheckbox">可勾選變更為公益團體帳號</label>
								<input type="hidden" id="hiddenIsValidCharity" name="IsValidCharity" />
							</div>
						</div>


					}



					@if (Model.CharityProof != null && Model.IsValidCharity == true)
					{
						<div>
							公益團體認證照片
						</div>
						<div>
							<img src="~/images/CharityProof/@Model.CharityProof" width="300px" height="350px" />
							<div>
								<input type="checkbox" id="charityCheckbox" onchange="updateIsValidCharity(this)" checked />
								<label for="charityCheckbox">已經是公益團帳號，可勾選取消資格</label>
								<input type="hidden" id="hiddenIsValidCharity" name="IsValidCharity" value="true" />
							</div>
						</div>


					}
					else if (Model.Access == 0 && Model.CharityProof == null)
					{

						<div>
							管理者照片
						</div>
						<div>
							<img src="~/images/UserImage/@Model.PhotoPath" width="300px" height="350px" />
						</div>
					}
					else if (Model.Access == 1 && Model.CharityProof == null)
					{
						<div>
							會員照片
						</div>
						<div>
							<img src="~/images/UserImage/@Model.PhotoPath" width="300px" height="350px" />
						</div>
					}



				</div>




			</div>
			<div class="d-flex justify-content-center align-items-center btn btn-outline-dark">
				<input type="submit" value="送出修改" class="custom-button" />
			</div>
			<div class="d-flex justify-content-center align-items-center btn btn-outline-dark">
				<a asp-action="List">取消修改</a>
			</div>

		</main>

	</form>
</div>


<script>
	function updateIsValidCharity(checkbox) {
		var hiddenIsValidCharity = document.getElementById('hiddenIsValidCharity');
		hiddenIsValidCharity.value = checkbox.checked; // 更新為 checkbox 的狀態（true 或 false）
		if (checkbox.checked) {
			alert("核准變更為公益團體帳號");
		} else {
			alert("確定要取消公益團體帳號");
		}
	}
</script>




<script>
	function phoneInputAccess3() {
		const phoneInput = document.getElementById('phoneInput');
		const iconphoneX = document.getElementById('iconphoneX');
		const iconphoneO = document.getElementById('iconphoneO');

		const phoneValue = phoneInput.value.trim();
		const Regex = /^\d{9}$/;  // 正規表達式，檢查是否為 9-10 位數的數字

		if (Regex.test(phoneValue)) {
			iconphoneX.style.display = 'none';  // 隱藏 iconphoneX
			iconphoneO.style.display = 'inline-block';  // 顯示 iconphoneO
		} else {
			iconphoneX.style.display = 'inline-block';  // 顯示 iconphoneX
			iconphoneO.style.display = 'none';  // 隱藏 iconphoneO
		}
	}
</script>


@*  新增一個眼睛icon，可以讓密碼type="password"互相切換type="test" *@
<script>
	function togglePasswordVisibility(inputId, iconId) {
		//綁定id//
		const passwordInput = document.getElementById(inputId);
		const icon = document.getElementById(iconId);
		//建立規則
		if (passwordInput.type === 'password') {
			passwordInput.type = 'text';
			icon.classList.remove('fa-eye');
			icon.classList.add('fa-eye-slash');
		} else {
			passwordInput.type = 'password';
			icon.classList.remove('fa-eye-slash');
			icon.classList.add('fa-eye');
		}
	}
</script>





@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}