@model EnGee.Models.TMember
@{
    Layout = "_LayoutAdmin";    
}
<style>
    .spanvaildation {
        font-size: 10px;
        color: red;
        opacity: 0.5;
    }

    ::placeholder {
        font-size: 10px;
        color: tomato;
    }

    .displayinline {
        display: inline;
    }

    .box {
        width: 550px;
    }

    .custom-button {
        background: none;
        border: none;
        padding: 0;
        text-align: center;
        cursor: pointer;
        color: pink;
    }
</style>

<div class="container">
<h1 style="text-align:center; ">修改會員表單</h1>


<hr />
<form asp-action="Edit">
    <main class="container-md displayinline box">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="MemberId" value="@Model.MemberId" />
        <div class="form-group">
            會員帳號
            <input asp-for="Username" class="form-control " placeholder="此欄位必塡(英文數字共5-10字元)" />
            <span asp-validation-for="Username" class="spanvaildation"></span>
        </div>


        <div class="form-group">
            會員信箱
            <input asp-for="Email" class="form-control " placeholder="此欄位必塡" name="email" />   <!--新增模型綁定name，傳給控制器-->
            <span asp-validation-for="Email" class="spanvaildation"></span>

        </div>
        <div class="form-group">
            會員姓名
            <input asp-for="Fullname" class="form-control" />
            <span asp-validation-for="Fullname" class="spanvaildation"></span>
        </div>

        <div class="form-group mt-3">

            <input type="radio" asp-for="Gender" value="0"> Male
            <input type="radio" asp-for="Gender" value="1"> Female
            <input type="radio" asp-for="Gender" value="2"> 不透漏

            <span asp-validation-for="Gender" class="spanvaildation"></span>

        </div>



        <div class="form-group">
            通訊地址
            <input asp-for="Address" class="form-control " placeholder="此欄位必塡" />
            <span asp-validation-for="Address" class="spanvaildation"></span>
        </div>
        <div class="form-group">
            手機號碼
            <input asp-for="Phone" class="form-control" placeholder="此欄位必塡" />
            <span asp-validation-for="Phone" class="spanvaildation"></span>
        </div>

        <div class="form-group">
            出生日期
            <input asp-for="Birth" class="form-control" type="date" />
            <span asp-validation-for="Birth" class=" spanvaildation"></span>
        </div>




        <div class="d-flex justify-content-center align-items-center btn btn-outline-dark">
            <input type="submit" value="送出修改" asp-action="List" asp-controller="Min_backmanage" class="custom-button" />
        </div>
        <div class="d-flex justify-content-center align-items-center btn btn-outline-dark">
            <a asp-action="List">取消修改</a>
        </div>

    </main>

</form>
</div>





@*  新增一個眼睛icon，可以讓密碼type="password"互相切換type="test" *@
<script>
    function togglePasswordVisibility(inputId, iconId) {
        //綁定id//
        const passwordInput = document.getElementById(inputId);
        const icon = document.getElementById(iconId);
        //建立規則
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}