
@{
    Layout = "_LayoutAdmin";
    ViewBag.HeaderTitle = "後臺管理";
}
<head>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container">
        <iframe title="EnGee儀表板" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=abcb07e0-7a1c-403c-aa81-b8a222a52c7f&autoAuth=true&ctid=e5abe5ed-2b26-47ff-863a-5ffd3a8c9fb0" frameborder="0" allowFullScreen="true"></iframe>
    </div>

</body>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/chart-area-demo.js"></script>
<script src="~/js/chart-pie-demo.js"></script>
