@model IEnumerable<EnGee.ViewModels.Rong_CollectIndexViewModel>

@{
    ViewBag.HeaderTitle = "許願池";
}

<div class="container-md my-5">
    <div class="row">
        <div class="col-lg-3">
            <h3 class="pb-4 fz-color3">彩妝品分類</h3>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h5 text-decoration-none fz-color3" href="#">
                    眼部彩妝
                    <i class="fa-solid fa-chevron-down down-arrow"></i>
                    </a>
                    <ul id="collapseOne" class="collapse list-unstyled ps-3">
                        <li><a class="text-decoration-none" href="#">眼影</a></li>
                        <li><a class="text-decoration-none" href="#">眼線液 / 眼線筆</a></li>
                        <li><a class="text-decoration-none" href="#">睫毛膏 / 睫毛打底膏</a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h5 text-decoration-none fz-color3"
                                href="#">
                                眉部彩妝
                                <i class="fa-solid fa-chevron-down down-arrow"></i>
                            </a>
                    <ul id="collapseTwo" class="collapse list-unstyled ps-3">
                                <li><a class="text-decoration-none" href="#">眉筆</a></li>
                                <li><a class="text-decoration-none" href="#">眉粉</a></li>
                            </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h5 text-decoration-none fz-color3"
                                href="#">
                                唇部彩妝
                                <i class="fa-solid fa-chevron-down down-arrow"></i>
                            </a>
                    <ul id="collapseThree" class="collapse list-unstyled ps-3">
                                <li><a class="text-decoration-none" href="#">唇膏</a></li>
                                <li><a class="text-decoration-none" href="#">唇蜜</a></li>
                                <li><a class="text-decoration-none" href="#">唇筆</a></li>
                            </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h5 text-decoration-none fz-color3" href="#">
                    臉部彩妝
                    <i class="fa-solid fa-chevron-down down-arrow"></i>
                    </a>
                    <ul id="collapseFour" class="collapse list-unstyled ps-3">
                                <li><a class="text-decoration-none" href="#">妝前乳 / 隔離霜</a></li>
                                <li><a class="text-decoration-none" href="#">遮瑕膏</a></li>
                                <li><a class="text-decoration-none" href="#">修容</a></li>
                                <li><a class="text-decoration-none" href="#">粉底液</a></li>
                                <li><a class="text-decoration-none" href="#">粉餅</a></li>
                                <li><a class="text-decoration-none" href="#">氣墊粉餅</a></li>
                                <li><a class="text-decoration-none" href="#">蜜粉 / 蜜粉餅</a></li>
                                <li><a class="text-decoration-none" href="#">定妝噴霧</a></li>
                            </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h5 text-decoration-none fz-color3" href="#">
                     彩妝工具
                    <i class="fa-solid fa-chevron-down down-arrow"></i>
                    </a>
                    <ul id="collapseFive" class="collapse list-unstyled ps-3">
                                <li><a class="text-decoration-none" href="#">刷具</a></li>
                                <li><a class="text-decoration-none" href="#">美妝蛋</a></li>
                                <li><a class="text-decoration-none" href="#">睫毛夾</a></li>
                                <li><a class="text-decoration-none" href="#">粉撲</a></li>
                                <li><a class="text-decoration-none" href="#">海綿</a></li>
                            </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h5 text-decoration-none fz-color3" href="#">
                    其他
                    <i class="fa-solid fa-chevron-down down-arrow"></i>
                    </a>
                    <ul id="collapseSix" class="collapse list-unstyled ps-3">
                                <li><a class="text-decoration-none" href="#">其他彩妝相關</a></li>
                            </ul>
                </li>
            </ul>
            <div class="d-grid">
                <a asp-controller="Collect" asp-action="Create" class="btn btn-lg fw-bold fz-color2 btn-border a">我要許願</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="d-flex justify-content-end pb-3">
                    <select class="form-select-sm border-0">
                        <option disabled selected>排列方式</option>
                        <option value="1">募集時間：新到舊</option>
                        <option value="2">募集時間：舊到新</option>
                    </select>
                </div>
            </div>
            <div id="cards" class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card mb-4" style="width: 18rem; height:22rem;">
                            <div style="display: flex; align-items: center; justify-content: center; overflow: hidden;">
                                <a href="@Url.Action("CollectInfomation", new { id = item.CollectId })">
                                    <img name="CollectImagePath" class="card-img-top rounded-0" src="~/images/donation/@Html.DisplayFor(modelItem => item.CollectImagePath)" style="width: 100%; height: 100%; object-fit: contain;">
                                </a>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <a href="@Url.Action("CollectInfomation", new { id = item.CollectId })" class="h5 card-title text-decoration-none fw-bold p-caption" style="color: #ae6565;">
                                        @Html.DisplayFor(modelItem => item.CollectTitle)
                                    </a>
                                </div>
                                <div class="row">
                                    <a href="#會員資料頁面" class="text-decoration-none text-black-50">
                                        發布者：@Html.DisplayFor(modelItem => item.Nickname)
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer border-top-0">
                                <small class="fz-color1">募集日：@Html.DisplayFor(modelItem => item.CollectStartDate)－@Html.DisplayFor(modelItem => item.CollectEndDate) </small>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#cards').DataTable({
            "paging": false,       // 禁用分頁
            "info": true,         // 移除顯示頁數的資訊
            "searching": false,    // 移除搜索框
            "ordering": true       // 保留排序功能
        });
    });
</script>
