@model EnGee.Controllers.Rong_CCollectWrap

@{
    ViewBag.HeaderTitle = "許願表單修改";
}

<div class="container py-5">
    <form asp-action="EditCollect" id="collectform" method="post" class="m-auto col-md-8 g-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="CollectId" value="@Model.CollectId" />
        <div class="form-group mb-4">
            <label asp-for="CollectTitle" class="form-label h5 fz-color1">許願標題</label>
            <input type="text" id="CollectTitle" asp-for="CollectTitle" class="form-control mt-1 fz-color1" placeholder="請輸入1-10個中文字" pattern="[\u4e00-\u9fa5]{1,20}" title="請填入1-10個中文字" required />
        </div>
        <div class="form-group mb-4">
            <label asp-for="CollectCaption" class="form-label h5 fz-color1">募集需求描述</label>
            <textarea id="CollectCaption" asp-for="CollectCaption" class="form-control mt-1 fz-color1 scroll" placeholder="需求描述" required></textarea>
        </div>
        <div class="form-group mb-4">
            <label asp-for="CollectEndDate" class="form-label h5 fz-color1">募集時間：即日起至</label>
            <input type="date" id="CollectStartDate" name="CollectStartDate" hidden>
            <input type="date" id="CollectEndDate" asp-for="CollectEndDate" class="form-control" onkeydown="return false" required>
        </div>

        <div class="form-group mb-4">
            <label for="photo" class="form-label h5 fz-color1">圖片上傳</label>
            <input type="file" name="photo" id="CollectImagePath" data-target="file-uploader" accept=".jpg,.jpeg,.png" class="form-control fz-color1"/>
        </div>

        <div class="form-group mb-4">
            <label for="" class="h5 fz-color1">需求品項</label>
            <ul class="list-group">
                <li class="list-group-item fz-color1">
                    <div class="row p-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <i class="fa-solid fa-hand-holding-heart me-2"></i>
                            <input type="text" id="CollectItemName" asp-for="CollectItemName" class="form-control" placeholder="品項名稱" required>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end align-items-center">
                            <select id="MainCategoryId" asp-for="MainCategoryId" class="form-select fz-color1 " required>
                                <option disabled selected>主分類</option>
                                <option value="1">眼部彩妝</option>
                                <option value="2">眉部彩妝</option>
                                <option value="3">唇部彩妝</option>
                                <option value="4">臉部彩妝</option>
                                <option value="5">彩妝工具</option>
                                <option value="6">其他</option>

                            </select>
                            <select id="SubcategoryId" asp-for="SubcategoryId" class="form-select fz-color1 ms-1" required>
                                <option disabled selected>副分類</option>
                                <option value="1">眼影</option>
                                <option value="2">眼線筆 / 眼線液</option>
                                <option value="3">睫毛膏 / 睫毛打底膏</option>
                                <option value="4">眉筆</option>
                                <option value="5">眉粉</option>
                                <option value="6">唇膏</option>
                                <option value="7">唇蜜</option>
                                <option value="8">唇筆</option>
                                <option value="9">妝前乳 / 隔離霜</option>
                                <option value="10">遮瑕膏</option>
                                <option value="11">修容</option>
                                <option value="12">粉底液</option>
                                <option value="13">粉餅</option>
                                <option value="14">氣墊粉餅</option>
                                <option value="15">蜜粉 / 蜜粉餅</option>
                                <option value="16">定妝噴霧</option>
                                <option value="17">刷具</option>
                                <option value="18">美妝蛋</option>
                                <option value="19">睫毛夾</option>
                                <option value="20">粉撲</option>
                                <option value="21">海綿</option>
                                <option value="22">其他</option>
                            </select>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end align-items-center ">
                            <input type="number" asp-for="CollectAmount" class="form-control fz-color1" min="1" placeholder="選擇徵求數量" required>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="form-group mb-4">
            <label for="" class="h5 fz-color1">寄送資訊</label>
            <div class="row">
                <div class="col-6 form-check">
                    <select id="DeliveryTypeId" asp-for="DeliveryTypeId" class="form-select fz-color1 " required>
                        <option disabled selected>方式選擇</option>
                        <option value="1">宅配</option>
                        <option value="2">超商</option>
                        <option value="3">宅配及超商</option>
                    </select>
                </div>
                <div class="col-6 form-check">
                    <input type="text" id="ConvenienNum" asp-for="ConvenienNum" class="form-control  fz-color1 mb-2" placeholder="輸入超商店號(6碼)" pattern="[0-9]{6}" />
                    <input type="text" id="DeliveryAddress" asp-for="DeliveryAddress" class="form-control fz-color1" placeholder="輸入宅配地址" />
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="CollectStatus" /> 上架中
            </label>
        </div>
        <div class="form-group mb-4 m-auto d-flex justify-content-end">
            <button type="submit" form="collectform" id="submitForm" class="btn btn-border a px-3 me-2 fw-bold fz-color2">送出</button>
            <button type="submit" id="cancelForm" class="btn btn-border a px-3 fw-bold fz-color2" onclick="cancelForm()">取消</button>
        </div>
        
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var inputField = document.getElementById("CollectStartDate");
            var today = new Date().toISOString().split("T")[0];
            inputField.value = today;
        });
    </script>
    
    <script>
        // Get references to the elements
        var imgPreview = document.getElementById("photo");
        var fileInput = document.getElementById("CollectImagePath");

        // Set the initial image preview based on the existing image path
        imgPreview.src = imgPreview.getAttribute("src");

        // Listen for file input changes
        fileInput.addEventListener("change", function () {
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        });
    </script>
</div>
