@{
    ViewData["Title"] = "About Us";
}
<p></p>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">期望當初的那份喜愛,<br />能繼續流傳給下一個人。</h1>
                <p>
                    我們的初衷是為美妝愛好者提供一個安全、方便且可信賴的平台，讓他們可以輕鬆地分享、交換和購買二手美妝產品。我們深知美妝是一門藝術，也是表達自我和增強自信的一種方式。然而，許多美妝產品常常只在短時間內使用，之後就被遺棄，這不僅浪費了資源，還對環境造成了不必要的負擔。
                </p>
                <p class="mb-4">
                    我們希望透過這個平台，讓美妝產品得以再利用，同時幫助用戶節省金錢，實現可持續消費。同時希望能有更多的公益團體加入,讓平台交易能擴展到公益領域。我們希望繼續為美妝社區做出貢獻，並與用戶一起走向更環保、更可持續的美妝未來。
                </p>
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <a class="btn btn-primary rounded-pill py-3 px-5" asp-controller="MinMember" asp-action="Create">加入我們</a>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle flex-shrink-0" src="~/Images/Index/CEO.jpg" alt=""
                                 style="width: 45px; height: 45px;">
                            <div class="ms-3">
                                <h6 class="text-primary mb-1">Mrs .Lee</h6>
                                <small>CEO & Founder</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="img-fluid w-75 bg-light p-1" src="~/Images/About/about-1.jpg" alt="">
                    </div>
                    <div class="col-6 text-start" style="margin-top: -150px;">
                        <img class="img-fluid w-100 bg-light p-1" src="~/Images/About/about-2.jpg" alt="">
                    </div>
                    <div class="col-6 text-end" style="margin-top: -150px;">
                        <img class="img-fluid w-100 bg-light p-1" src="~/Images/About/about-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Call To Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="~/Images/About/call-to-action.jpg"
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">成為募集愛心的團體</h1>
                        <p class="mb-4">
                            在我們的平台上，我們不僅關注美妝愛好者的需求，還將目光投向了社會中需要幫助的人群。這個平台的特點之一是我們的「許願系統」。許願系統是一個由各種公益團體和慈善機構發起的倡議，他們可以在我們的平台上貼文徵求美妝產品，這些產品將捐贈給需要幫助的人或特定群體。這種系統不僅有助於減少浪費，還能夠幫助社會上的弱勢群體。
                        </p>
                        <a class="btn btn-primary py-3 px-5" asp-controller="MinMember" asp-action="Create">
                            註冊成為公益團體<i class="fa fa-arrow-right ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action End -->