
@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Home Page";
}
<p></p>

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Images/Index/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">
                                哈囉,歡迎回來!
                            </h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                               來看看今天又上架了什麼好東西吧➔
                            </p> 
                            <div class="d-flex">
                                <a href="/Product/IndexSSJ" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">
                                    商品總覽
                                </a>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Images/Index/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">
                               今天也是日行一善嗎?
                            </h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                為這個世界做出一點小小心意➔
                            </p>
                             <div class="d-flex">
                                <a href="/Collect/CollectIndex" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">
                                    許願池
                                </a>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
