@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Home Page";
}
<p></p>

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Images/Index/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">
                                你的毒藥,我的蜜糖
                            </h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                有用不完卻無限繁殖的化妝品?讓他找到適合的主人吧
                            </p>
                            <div class="d-flex">
                                <a asp-controller="MinMember" asp-action="Create" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">
                                    註冊
                                </a>
                                <a asp-controller="Home" asp-action="Login" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">
                                    登入
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Images/Index/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">
                               一起貢獻做公益
                            </h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                台灣有許多公益團體等著您的愛心
                            </p>
                            <div class="d-flex">
                                <a asp-controller="MinMember" asp-action="Create" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">
                                    註冊
                                </a>
                                <a asp-controller="Home" asp-action="Login" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">
                                    登入
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->