@{
    ViewData["Title"] = "Login";
}
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
@using (Html.BeginForm()){
     @Html.AntiForgeryToken()    
     <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">
                            <h1 class="mb-4 text-center">會員登入</h1>
                            <form>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label for="gname">Email</label>
                                        <div>
                                            @Html.TextBox("txtAccount", "KIKI@gmail.com", new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                         <label for="gmail">Password</label>
                                        <div>
                                            @Html.Password("txtPassword", "", new { htmlAttributes = new { @class = "form-control " } })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">登入</button>
                                    </div>
                                    <p class="mb-5 text-center">
                                        <a asp-controller="MinFavor" asp-action="ResetPassword" data-toggle="modal" data-target="#exampleModalCenter">忘記密碼?</a>
                                    </p>
                                    <p class="mb-0 text-center">
                                        還沒有帳號嗎? <a asp-controller="MinMember" asp-action="Create" class="fw-bold">手刀註冊</a>
                                    </p>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded" src="~/Images/About/about-4.jpg" style="object-fit:cover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@* <==========================忘記密碼重設===============================================================> *@
<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">忘記密碼</button> *@

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @* ===========================Form Title========================== *@
                <h5 class="modal-title" id="exampleModalLongTitle">忘記密碼重設</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @* ===============================Form Body============================ *@
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">會員電子信箱(驗證):</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">重設密碼</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">確認重設密碼</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @* ================================body============================ *@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@* <==========================忘記密碼重設===============================================================> *@

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>