@{
    ViewData["Title"] = "Login";
    ViewBag.HeaderTitle = "會員登入";
}

@using (Html.BeginForm()){
     @Html.AntiForgeryToken()    
     <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100 d-flex flex-column justify-content-center p-5">
                            <h1 class="mb-4 text-center">Welcome</h1>
                            <form>
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label for="gname">Email</label>
                                        <div>
                                            @Html.TextBox("txtAccount", "KIKI@gmail.com", new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                         <label for="gmail">Password</label>
                                        <div>
                                            @Html.Password("txtPassword", "123", new { htmlAttributes = new { @class = "form-control " } })
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">登入</button>
                                    </div>
                                    <p class="mb-5 text-center">
                                        <a href="#!">忘記密碼?</a>
                                    </p>
                                    <p class="mb-0 text-center">
                                        還沒有帳號嗎? <a asp-controller="MinMember" asp-action="Create" class="fw-bold">手刀註冊</a>
                                    </p>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded" src="~/Images/About/about-4.jpg" style="object-fit:cover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>