@{
    ViewData["Title"] = "News";
}
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">最新消息!</h1>
            <p>
                這邊會分享更新跟美妝公益相關新聞
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-5">
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/Images/News/User1.jpg"
                         style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <a href="https://www.hk01.com/%E7%BE%8E%E5%AE%B9%E6%89%8B%E5%B8%B3/943791/%E7%92%B0%E4%BF%9D%E6%B0%B8%E7%BA%8C%E7%BE%8E%E5%A6%9D%E6%88%90%E5%BD%A9%E5%A6%9D%E7%95%8C%E6%96%B0%E8%B6%A8%E5%8B%A2-%E4%BA%BA%E6%B0%A3%E7%86%B1%E8%B3%A3%E5%A4%A9%E7%84%B6%E7%B4%94%E7%B4%A0%E5%8C%96%E5%A6%9D%E5%93%81%E7%89%8C%E6%8E%A8%E8%96%A6">
                            <p class="fs-5">
                                環保永續美妝成彩妝界新趨勢-人氣熱賣天然純素化妝品牌推薦
                            </p>
                        </a>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
                <h3 class="mb-1">米可羅</h3>
                <span>Profession</span>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/Images/News/User2.jpg"
                         style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <a href="https://www.cosmopolitan.com/tw/beauty/update/g43789422/2023-joint-name-cross-border/">
                            <p class="fs-5">
                                2023美妝活動】SABON 磨法快閃店、伊麗莎白雅頓 x 青隅 夏日下午茶、﻿Barbie x LUSH 限量沐浴品
                            </p>
                        </a>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
                <h3 class="mb-1">TCHATA LU</h3>
                <span>Profession</span>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/Images/News/User3.jpg"
                         style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <a href="https://www.winnews.com.tw/125225/">
                            <p class="fs-5">
                                李千娜代言美妝品牌兼做公益 助唐寶寶成長
                            </p>
                        </a>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
                <h3 class="mb-1">陳惠玲</h3>
                <span>Profession</span>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
