@{
    ViewData["Title"] = "News";
}
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">最新消息!</h1>
            <p>
                Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit
                eirmod sit. Ipsum diam justo sed rebum vero dolor duo.
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">
                    每次消費都是一種選擇！美妝保養品牌積極投入各種環保活動與公益、慈善計畫。
                </p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/Images/News/User1.jpg"
                         style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Client Name</h3>
                        <span>Profession</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">
                    愛茉莉太平洋「makeup your Life妝點生命每一天」品牌慈善捐贈活動。
                </p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/Images/News/User2.jpg"
                         style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Client Name</h3>
                        <span>Profession</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-5">
                <p class="fs-5">
                    愛美也能做公益！歐舒丹、Kenvue著重永續環保，雪肌精培育珊瑚、肌膚之鑰關懷弱勢
                </p>
                <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="~/Images/News/User3.jpg"
                         style="width: 90px; height: 90px;">
                    <div class="ps-3">
                        <h3 class="mb-1">Client Name</h3>
                        <span>Profession</span>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
