

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="~/images/JING_img/shop_011.jpg" alt="Card image cap"
                         id="product-detail">
                </div>
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                         data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="~/images/JING_img//shop_0111.jpg"
                                                 alt="Product Image 1">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="~/images/JING_img/shop_0112.jpg"
                                                 alt="Product Image 2">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="~/images/JING_img/shop_0113.jpg"
                                                 alt="Product Image 3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->


                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">奢華緞面釉惑唇膏 (YSL/唇膏彩妝/唇膏)</h1>
                        <p class="h3 py-2">兌換點數：1點</p>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Brand:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Easy Wear</strong></p>
                            </li>
                        </ul>

                        <h5>上架時間:</h5>
                        <h6>2023/07/15 上午09:00</h6>

                        <h5>物品狀態:</h5>
                        <h6>全新</h6>
                        <h5>有效期限:</h5>
                        <h6>2026/06/20</h6>
                        <h5>物品數量:</h5>
                        <h6>共1項,剩餘1項</h6>



                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Avaliable Color :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>White / Black</strong></p>
                            </li>
                        </ul>



                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item">
                                            運送方式:
                                            <input type="hidden" name="product-
                                                transport" id="product-
                                                transport" value="S">
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="btn btn-success btn-size">超商60點</span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="btn btn-success btn-size">宅配150點</span>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            數量
                                            <input type="hidden" name="product-quanity" id="product-quanity"
                                                   value="1">
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="btn btn-success"
                                                  id="btn-minus">-</span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="badge bg-secondary"
                                                  id="var-value">1</span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span class="btn btn-success"
                                                  id="btn-plus">+</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <!-- <button type="submit" class="btn btn-success btn-lg" name="submit"
                                        value="buy">我要索取</button> -->
                                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">
                                        <a href="BuyerCheck">我要索取</a>
                                    </button>
                                </div>
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-success btn-lg" name="submit"
                                            value="addtocard">
                                        <i class="fas fa-heart"></i> 加到最愛
                                    </button>
                                </div>



                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<body>
    <section>


        <!-- 商品详情 -->
        <div class="col-lg-7 mt-5">
            <div class="card">
                <div class="card-body">
                    <!-- 商品信息 -->
                </div>
            </div>
        </div>

        <!-- 留言板容器 -->
        <div class="col-lg-7 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4><b>誰索取了這項物品</b></h4>
                    <div class="message-container">
                        <!-- 索取留言板-->
                        <div id="messages1" class="message-container">
                            <form id="messageForm1">
                                <textarea id="messageText1" rows="4" cols="50" placeholder="我要索取"></textarea><br>
                                <button type="submit">提交留言</button>
                            </form>
                        </div>

                        <h4><b>留言</b></h4>
                        <div class="message-container">
                            <!-- 詢問留言板 -->
                            <div id="messages2"></div>
                            <form id="messageForm2">
                                <textarea id="messageText2" rows="4" cols="50" placeholder="有話要說..."></textarea><br>
                                <button type="submit">提交留言</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <script>
        // 第一個留言板事件處理
        const messageForm1 = document.getElementById('messageForm1');
        const messageText1 = document.getElementById('messageText1');
        const messagesContainer1 = document.getElementById('messages1');

        function createMessage1(message) {
            const currentDateTime = new Date().toLocaleString();
            const newMessage = document.createElement('div');
            newMessage.className = 'message';
            newMessage.innerHTML = `
                <p>${message}</p>
                <div class="message-buttons">
                    <button class="select-button">選他吧</button>
                    <button class="delete-button">删除</button>
                </div>
                <small>${currentDateTime}</small>
            `;

            const deleteButton = newMessage.querySelector('.delete-button');
            deleteButton.addEventListener('click', function () {
                messagesContainer1.removeChild(newMessage);
            });

            messagesContainer1.appendChild(newMessage);
        }

        messageForm1.addEventListener('submit', function (event) {
            event.preventDefault();
            createMessage1(messageText1.value);
            messageText1.value = '';
        });

        // 第二個留言板事件處理
        const messageForm2 = document.getElementById('messageForm2');
        const messageText2 = document.getElementById('messageText2');
        const messagesContainer2 = document.getElementById('messages2');

        function createMessage2(message) {
            const currentDateTime = new Date().toLocaleString();
            const newMessage = document.createElement('div');
            newMessage.className = 'message';
            newMessage.innerHTML = `
                <p>${message}</p>
                <div class="message-buttons">
                    <button class="select-button">回覆</button>
                    <button class="delete-button">删除</button>
                </div>
                <small>${currentDateTime}</small>
            `;

            const deleteButton = newMessage.querySelector('.delete-button');
            deleteButton.addEventListener('click', function () {
                messagesContainer2.removeChild(newMessage);
            });

            messagesContainer2.appendChild(newMessage);
        }

        messageForm2.addEventListener('submit', function (event) {
            event.preventDefault();
            createMessage2(messageText2.value);
            messageText2.value = '';
        });
    </script>



</body>