body {
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    min-width: 320px;
    vertical-align: middle;
}


header {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
}

.display {
    display: none;
}

#form-outer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    border-radius: 15px;
    width: 80%;
    max-width: 900px;
    padding-top: 20px;
    height:;
}

.labels {
    color: pink;
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 50%;
    vertical-align: middle;
}


.input-field {
    height: 25px;
    width: 60%;
    padding: 5px;
    margin: 10px;
    border: 1px solid pink;
    border-radius: 10px;
}



.button {
    background-color: rgba(0,0,0,0);
    border-radius: 6px;
    font-size: 1em;
    color: white;
    border: 1px solid white;
    height: 40px;
    width: 96px;
    margin: 10px;
}

#stepform, #stepform1, #stepform2, #stepform3 {
    background-color: red;
    opacity: 0.5;
    border-radius: 0 0 15px 15px;
    padding: 30px;
    margin:15px 0 0 0;
}

.d-flex {
    display: inline;
}
